ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__TrackerDb=Server=devsogu-sqlserver,1433;Database=TrackerDb;User Id=sa;Password=CAMBIAR;TrustServerCertificate=True;
InternalApi__Key=CAMBIAR_KEY_LARGA_ALEATORIA
Cors__AllowedOrigins=http://45.7.229.192:8090
