ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__TrackerDb=Server=devsogu-sqlserver,1433;Database=TrackerDb;User Id=sa;Password=CAMBIAR;TrustServerCertificate=True;
Kafka__BootstrapServers=tracker-kafka:9092
Kafka__Topic=tracker.gps.events
Kafka__GroupId=tracker.worker.gps
Kafka__ClientId=tracker.worker
SchemaRegistry__Url=http://tracker-schema-registry:8081
LiveApi__BaseUrl=http://tracker-api:8080
InternalApi__Key=CAMBIAR_KEY_LARGA_ALEATORIA
